# Pandas assignment

In [1]:
#Ques 1
import pandas as pd
df=pd.Series([4, 8, 15, 16, 23,42])
print(df)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [4]:
#Ques 2
import pandas as pd
mylist=[i for i in range(11)]
df=pd.Series(mylist)
for i in df:
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9 10

In [6]:
#Ques 3
import pandas as pd
data={
    "Name":['Alice','Bob','Claire'],
    "Age":[25,30,27],
    "Gender":["Female","Male","Female"]
}
df=pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [11]:
#Ques 4
#Pandas is a 2D size-mutable, and heterogeneous data structure that allows you to store and manipulate data in a tabular form
#Series is a 1D labelled array
import pandas as pd
names = ['Alice', 'Bob', 'Charlie', 'David']
ages = [21, 22, 20, 23]
test_scores = [85, 90, 78, 92]
data={
    "Name":names,
    "Ages":ages,
    "Scores":test_scores
}
df=pd.DataFrame(data)
print(df)
print("--"*50)
names_Series=pd.Series(names)
ages_Series=pd.Series(ages)
test_Series=pd.Series(test_scores)
df=pd.concat([names_Series,ages_Series,test_Series],axis=1)
print(df)

      Name  Ages  Scores
0    Alice    21      85
1      Bob    22      90
2  Charlie    20      78
3    David    23      92
----------------------------------------------------------------------------------------------------
         0   1   2
0    Alice  21  85
1      Bob  22  90
2  Charlie  20  78
3    David  23  92

In [19]:
#Ques 5
import pandas as pd
df=pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')
#To see first 5 rows
print(df.head())
print("--"*50)
#To see last n rows
print(df.tail(20))
print("--"*50)
#To see the total row & col
print(df.shape)
print("--"*50)
#To describe the dataset
print(df.describe())
print("--"*50)
#To check the null of rows
print(df.isnull().sum())
print("--"*50)
#To drop any particular column
df.drop('petal_length',axis=1)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
----------------------------------------------------------------------------------------------------
     sepal_length  sepal_width  petal_length  petal_width    species
130           7.4          2.8           6.1          1.9  virginica
131           7.9          3.8           6.4          2.0  virginica
132           6.4          2.8           5.6          2.2  virginica
133           6.3          2.8           5.1          1.5  virginica
134           6.1          2.6           5.6          1.4  virginica
135           7.7          3.0           6.1          2.3  virginica
136           6.3          3.4           5.6          2.4  virginica
137           6.4          3.1           5.5          1.8  virginica
138           6.0          3.0           4.8          1.8  virginica
139           6.9          3.1           5.4          2.1  virginica
140           6.7          3.1           5.6          2.4  virginica
141           6.9          3.1           5.1          2.3  virginica
142           5.8          2.7           5.1          1.9  virginica
143           6.8          3.2           5.9          2.3  virginica
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica
----------------------------------------------------------------------------------------------------
(150, 5)
----------------------------------------------------------------------------------------------------
       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000
----------------------------------------------------------------------------------------------------
sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64
----------------------------------------------------------------------------------------------------

     sepal_length  sepal_width  petal_width    species
0             5.1          3.5          0.2     setosa
1             4.9          3.0          0.2     setosa
2             4.7          3.2          0.2     setosa
3             4.6          3.1          0.2     setosa
4             5.0          3.6          0.2     setosa
..            ...          ...          ...        ...
145           6.7          3.0          2.3  virginica
146           6.3          2.5          1.9  virginica
147           6.5          3.0          2.0  virginica
148           6.2          3.4          2.3  virginica
149           5.9          3.0          1.8  virginica

[150 rows x 4 columns]

In [20]:
#Ques 6
#pandas has 3 data structures
#Series-:1d (mutable)
#DataFRame-:2d (mutable)
#Panel-:3d (immutable) depreciated in current lastest version

In [21]:
#Ques 7
import pandas as pd
names = ['Alice', 'Bob', 'Charlie', 'David']
ages = [21, 22, 20, 23]
test_scores = [85, 90, 78, 92]
name_Series=pd.Series(names)
ages_Series=pd.Series(ages)
test_Series=pd.Series(test_scores)
df=pd.concat([name_Series,ages_Series,test_Series],axis=1)
print(df)

         0   1   2
0    Alice  21  85
1      Bob  22  90
2  Charlie  20  78
3    David  23  92